.logout i::before {
    transform: rotate(90deg);
}

.logout {
    margin-top: 8vh;
    border: none;
    background-color: white;
}

.menu {
    width: max(70%, 250px);
    height: 70vh;
    margin: 20px auto 30px auto;
    background: #ffffff;
    box-shadow: 2px 13px 20px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    z-index: 8;
    padding-left: 20px;
    padding-top: 20px;
}

.linkWrapper a {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.linkWrapper i,
.linkWrapper span,
.logout i {
    margin: 15px;
    text-decoration: none;
}

.linkWrapper {
    margin: 50px auto;
}

.linkWrapper:focus,
.linkWrapper:hover,
.linkWrapper button:hover,
.logout:hover {
    border-left: 2px solid rgba(99, 121, 244, 1);
    color: rgba(99, 121, 244, 1);
}

.logout:hover,
.logout:focus,
.linkWrapper a:hover,
.linkWrapper a:focus {
    color: rgba(99, 121, 244, 1);
    font-weight: bold;
}

.menu a {
    cursor: pointer;
}