.landingFooter {
    width: 100%;
    /* height: max(400px, 60vh); */
    height: max(514px, 65vh);
    background-color: rgba(99, 121, 244, 1);
    color: white;
}

.description h1 {
    font-family: Nunito Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.description {
    width: 100%;
    height: max(25vh, 300px);
    padding-top: 4.5rem;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
}

.info {
    bottom: 0;
    margin-top: 3rem;
    height: 5vh;
}

.userFooter {
    bottom: 0;
    margin: 0;
    padding: 1rem 5rem;
    width: 100%;
    /* height: max(400px, 60vh); */
    height: max(70px, 9vh);
    background-color: rgba(99, 121, 244, 1);
    color: white;
}

.description p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    color: rgba(239, 239, 239, 0.75);
}

.info p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    color: rgba(239, 239, 239, 0.75);
}

.right {
    text-align: right;
}