.login {
    margin: 0.5rem;
    width: max(100px, 70px);
}

.signup {
    width: max(100px, 70px);
    margin: 0.5rem;
}

.navbar-header {
    padding: 1rem 4rem;
    background-color: #FFFFFF;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}